<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskTimerApp">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <!--
                OJO: NO ponemos android:configChanges="orientation|screenSize" a propósito.
                Queremos que la Activity SÍ se destruya y se vuelva a crear al rotar,
                para demostrar que gracias al ViewModel + SavedStateHandle
                la información no se pierde aunque la Activity se recree.
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
